* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #5d008f;
    color: #fff5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.mood-display {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.metric {
    border: 4px solid #6e6c0a;
    padding: 50px;
    width: 250px;
    border-radius: 40px;
}

.metric h2 {
    color: #00cec9;
    margin-bottom: 10px;
}
